<a href="https://colab.research.google.com/github/le-para/ML-TelecomCustomers/blob/main/ML_Telecom_project_%22predict_customer_attrition%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [2]:
from google.colab import files
uploaded=files.upload()

Saving telecom.csv to telecom.csv

In [3]:
telecom=pd.read_csv("telecom.csv")

In [4]:
telecom

     State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0       KS             128        415  ...        2.70              1  False.
1       OH             107        415  ...        3.70              1  False.
2       NJ             137        415  ...        3.29              0  False.
3       OH              84        408  ...        1.78              2  False.
4       OK              75        415  ...        2.73              3  False.
...    ...             ...        ...  ...         ...            ...     ...
3328    AZ             192        415  ...        2.67              2  False.
3329    WV              68        415  ...        2.59              3  False.
3330    RI              28        510  ...        3.81              2  False.
3331    CT             184        510  ...        1.35              2  False.
3332    TN              74        415  ...        3.70              0  False.

[3333 rows x 21 columns]

In [5]:
from google.colab import files
uploaded=files.upload()

Saving telecom_clean.csv to telecom_clean.csv

In [6]:
telecom_clean=pd.read_csv("telecom_clean.csv")
telecom_clean

      State  Account Length  Phone  Int'l Plan  ...  Churn?  408  415  510
0        16             128   1926           0  ...       0  1.0  2.0  1.0
1        35             107   1575           0  ...       0  1.0  2.0  1.0
2        31             137   1117           0  ...       0  1.0  2.0  1.0
3        35              84   1707           1  ...       0  2.0  1.0  1.0
4        36              75    110           1  ...       0  1.0  2.0  1.0
...     ...             ...    ...         ...  ...     ...  ...  ...  ...
3328      3             192   3057           0  ...       0  1.0  2.0  1.0
3329     49              68   1528           0  ...       0  1.0  2.0  1.0
3330     39              28     42           0  ...       0  1.0  1.0  2.0
3331      6             184   1331           1  ...       0  1.0  1.0  2.0
3332     42              74   2559           0  ...       0  1.0  2.0  1.0

[3333 rows x 23 columns]

In [7]:
x=telecom.drop("Churn?",axis=1)
y=telecom_clean['Churn?']

we create x and y var .

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

we use "train_test_split" for create some random structures (sampling) to train our future Model.we use 20% or 30% from our initial data .

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,stratify=y)
y.value_counts(normalize=True)

0    0.855086
1    0.144914
Name: Churn?, dtype: float64

to have sampling look like a dataset (same proportion) you have to use "stratify" wit "train_test_split"

In [11]:
y_test.value_counts(normalize=True)

0    0.855
1    0.145
Name: Churn?, dtype: float64

In [13]:
y_train.value_counts(normalize=True)

0    0.855122
1    0.144878
Name: Churn?, dtype: float64

In [23]:
dict_label_encode={}

for col in x_train.columns:

  if x_train[col].dtype==object:
    
    dict_label_encode[col]=LabelEncoder()
    x_train[col]=dict_label_encode[col].fit_transform(x_train[col])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
x_train

      State  Account Length  Area Code  ...  Intl Calls  Intl Charge  CustServ Calls
2423     40               1        408  ...           2         1.00               0
2053     44             104        408  ...           4         3.51               0
2740     11             171        510  ...           1         2.78               0
2840     31             108        415  ...           7         2.92               0
3299     27              73        408  ...           4         2.97               2
...     ...             ...        ...  ...         ...          ...             ...
299      23              94        415  ...           5         1.78               1
692      29              82        408  ...           7         1.54               4
1972     28             124        415  ...           4         3.38               2
251      31             106        415  ...           7         3.89               4
3053      4              82        415  ...          10         1.89               0

[2333 rows x 20 columns]

In [15]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.4.3)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->imbalanced-learn) (1.0.1)

In [16]:
y_train.value_counts()

0    1995
1     338
Name: Churn?, dtype: int64

In [17]:
from imblearn.under_sampling import NearMiss
sous_echant=NearMiss()

apply the fit_sample() method.

In [25]:
x_sous,y_sous=sous_echant.fit_sample(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

"x_train" and "y_train" must be array or dataframe without 'object' data , to perform with fit_sample() method.

In [28]:
pd.Series(y_sous).value_counts()

1    338
0    338
dtype: int64

As you can see we are downsizing (sampling) var'0'and keep unchange var '1'.

In [30]:
from imblearn.over_sampling import SMOTE
sur_echant=SMOTE()
x_sur,y_sur=sur_echant.fit_sample(x_train,y_train)
pd.Series(y_sur).value_counts()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

1    1995
0    1995
dtype: int64

As you can see we are upsizing (sampling) var '1' and keep unchange var '0'.

In [31]:
from imblearn.combine import SMOTEENN
inter_echant=SMOTEENN()
x_inter, y_inter=inter_echant.fit_sample(x_train,y_train)
pd.Series(y_inter).value_counts()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

1    1880
0    1091
dtype: int64

we are a intermediare sampling , with downsizing and upsizing.

In [33]:
y_inter

array([0, 0, 0, ..., 1, 1, 1])

In [37]:
pd.Series(y_inter).to_csv('y_inter.csv')
pd.Series(y_sur).to_csv('y_sur.csv')
pd.Series(y_sous).to_csv('y_sous.csv')
pd.Series(y_train).to_csv('y_train.csv')
x_train.to_csv('x_train.csv')