<a href="https://colab.research.google.com/github/le-para/ML-TelecomCustomers/blob/main/ML_Telecom_project_%22predict_customer_attrition_and_model%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving telecom.csv to telecom.csv

In [ ]:
telecom=pd.read_csv("telecom.csv")

In [ ]:
telecom

     State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0       KS             128        415  ...        2.70              1  False.
1       OH             107        415  ...        3.70              1  False.
2       NJ             137        415  ...        3.29              0  False.
3       OH              84        408  ...        1.78              2  False.
4       OK              75        415  ...        2.73              3  False.
...    ...             ...        ...  ...         ...            ...     ...
3328    AZ             192        415  ...        2.67              2  False.
3329    WV              68        415  ...        2.59              3  False.
3330    RI              28        510  ...        3.81              2  False.
3331    CT             184        510  ...        1.35              2  False.
3332    TN              74        415  ...        3.70              0  False.

[3333 rows x 21 columns]

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving telecom_clean.csv to telecom_clean.csv

In [ ]:
telecom_clean=pd.read_csv("telecom_clean.csv")
telecom_clean

      State  Account Length  Phone  Int'l Plan  ...  Churn?  408  415  510
0        16             128   1926           0  ...       0  1.0  2.0  1.0
1        35             107   1575           0  ...       0  1.0  2.0  1.0
2        31             137   1117           0  ...       0  1.0  2.0  1.0
3        35              84   1707           1  ...       0  2.0  1.0  1.0
4        36              75    110           1  ...       0  1.0  2.0  1.0
...     ...             ...    ...         ...  ...     ...  ...  ...  ...
3328      3             192   3057           0  ...       0  1.0  2.0  1.0
3329     49              68   1528           0  ...       0  1.0  2.0  1.0
3330     39              28     42           0  ...       0  1.0  1.0  2.0
3331      6             184   1331           1  ...       0  1.0  1.0  2.0
3332     42              74   2559           0  ...       0  1.0  2.0  1.0

[3333 rows x 23 columns]

In [ ]:
x=telecom.drop("Churn?",axis=1)
y=telecom_clean['Churn?']

we create x and y var .

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

we use "train_test_split" for create some random structures (sampling) to train our future Model.we use 20% or 30% from our initial data .

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,stratify=y)
y.value_counts(normalize=True)

0    0.855086
1    0.144914
Name: Churn?, dtype: float64

to have sampling look like a dataset (same proportion) you have to use "stratify" wit "train_test_split"

In [ ]:
y_test.value_counts(normalize=True)

0    0.855
1    0.145
Name: Churn?, dtype: float64

In [ ]:
y_train.value_counts(normalize=True)

0    0.855122
1    0.144878
Name: Churn?, dtype: float64

In [ ]:
dict_label_encode={}

for col in x_train.columns:

  if x_train[col].dtype==object:
    
    dict_label_encode[col]=LabelEncoder()
    x_train[col]=dict_label_encode[col].fit_transform(x_train[col])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
x_train

      State  Account Length  Area Code  ...  Intl Calls  Intl Charge  CustServ Calls
2423     40               1        408  ...           2         1.00               0
2053     44             104        408  ...           4         3.51               0
2740     11             171        510  ...           1         2.78               0
2840     31             108        415  ...           7         2.92               0
3299     27              73        408  ...           4         2.97               2
...     ...             ...        ...  ...         ...          ...             ...
299      23              94        415  ...           5         1.78               1
692      29              82        408  ...           7         1.54               4
1972     28             124        415  ...           4         3.38               2
251      31             106        415  ...           7         3.89               4
3053      4              82        415  ...          10         1.89               0

[2333 rows x 20 columns]

In [ ]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.4.3)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->imbalanced-learn) (1.0.1)

In [ ]:
y_train.value_counts()

0    1995
1     338
Name: Churn?, dtype: int64

In [ ]:
from imblearn.under_sampling import NearMiss
sous_echant=NearMiss()

apply the fit_sample() method.

In [ ]:
x_sous,y_sous=sous_echant.fit_sample(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

"x_train" and "y_train" must be array or dataframe without 'object' data , to perform with fit_sample() method.

In [ ]:
pd.Series(y_sous).value_counts()

1    338
0    338
dtype: int64

As you can see we are downsizing (sampling) var'0'and keep unchange var '1'.

In [ ]:
from imblearn.over_sampling import SMOTE
sur_echant=SMOTE()
x_sur,y_sur=sur_echant.fit_sample(x_train,y_train)
pd.Series(y_sur).value_counts()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

1    1995
0    1995
dtype: int64

As you can see we are upsizing (sampling) var '1' and keep unchange var '0'.

In [ ]:
from imblearn.combine import SMOTEENN
inter_echant=SMOTEENN()
x_inter, y_inter=inter_echant.fit_sample(x_train,y_train)
pd.Series(y_inter).value_counts()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

1    1880
0    1091
dtype: int64

we are a intermediare sampling , with downsizing and upsizing.

In [63]:
y_train

      0
0     0
1     0
2     0
3     0
4     0
...  ..
2328  0
2329  0
2330  0
2331  0
2332  0

[2333 rows x 1 columns]

In [64]:
x_train

      index  State  Account Length  ...  Intl Calls  Intl Charge  CustServ Calls
0      2423     40               1  ...           2         1.00               0
1      2053     44             104  ...           4         3.51               0
2      2740     11             171  ...           1         2.78               0
3      2840     31             108  ...           7         2.92               0
4      3299     27              73  ...           4         2.97               2
...     ...    ...             ...  ...         ...          ...             ...
2328    299     23              94  ...           5         1.78               1
2329    692     29              82  ...           7         1.54               4
2330   1972     28             124  ...           4         3.38               2
2331    251     31             106  ...           7         3.89               4
2332   3053      4              82  ...          10         1.89               0

[2333 rows x 21 columns]

In [ ]:
pd.Series(y_inter).to_csv('y_inter.csv',index=False)
pd.Series(y_sur).to_csv('y_sur.csv',index=False)
pd.Series(y_sous).to_csv('y_sous.csv',index=False)
pd.Series(y_train).to_csv('y_train.csv',index=False)
x_train.to_csv('x_train.csv',index=False)

In [41]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [65]:
modele_knn=KNeighborsClassifier()

modele_knn.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [66]:
modele_knn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [67]:
modele_rf=RandomForestClassifier()

modele_rf.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [68]:
modele_rf

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [69]:
modele_rf.feature_importances_

array([0.0312518 , 0.02119158, 0.03005795, 0.00878193, 0.02702505,
       0.0692574 , 0.01787373, 0.03178142, 0.13002669, 0.02838887,
       0.12936236, 0.06404901, 0.02635191, 0.05223972, 0.0318651 ,
       0.02763978, 0.03402135, 0.03789769, 0.03801485, 0.04505685,
       0.11786496])

In [70]:
y_predict_knn=modele_knn.predict(x_test)
y_predict_rf=modele_rf.predict(x_test)

ValueError: ignored