<a href="https://colab.research.google.com/github/le-para/ML-TelecomCustomers/blob/main/ML_Telecom_project_%22Data_preparation%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import Pandas and Numpy librairies fron google colab

In [6]:
from google.colab import files
uploaded=files.upload()

Saving telecom.csv to telecom.csv

downloading file (telecom.csv) from my hard disc to google colaboratory

In [8]:
telecom=pd.read_csv('telecom.csv')

Read the csv file 'telecom.csv'.

In [9]:
telecom

     State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0       KS             128        415  ...        2.70              1  False.
1       OH             107        415  ...        3.70              1  False.
2       NJ             137        415  ...        3.29              0  False.
3       OH              84        408  ...        1.78              2  False.
4       OK              75        415  ...        2.73              3  False.
...    ...             ...        ...  ...         ...            ...     ...
3328    AZ             192        415  ...        2.67              2  False.
3329    WV              68        415  ...        2.59              3  False.
3330    RI              28        510  ...        3.81              2  False.
3331    CT             184        510  ...        1.35              2  False.
3332    TN              74        415  ...        3.70              0  False.

[3333 rows x 21 columns]

In [10]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           3333 non-null   object
 1   Account Length  3333 non-null   int64
 2   Area Code       3333 non-null   int64
 3   Phone           3333 non-null   object
 4   Int'l Plan      3333 non-null   object
 5   VMail Plan      3333 non-null   object
 6   VMail Message   3333 non-null   int64
 7   Day Mins        3333 non-null   float64
 8   Day Calls       3333 non-null   int64
 9   Day Charge      3333 non-null   float64
 10  Eve Mins        3333 non-null   float64
 11  Eve Calls       3333 non-null   int64
 12  Eve Charge      3333 non-null   float64
 13  Night Mins      3333 non-null   float64
 14  Night Calls     3333 non-null   int64
 15  Night Charge    3333 non-null   float64
 16  Intl Mins       3333 non-null   float64
 17  Intl Calls      3333 non-null   int64
 18  Intl Charge     3333 non-null   float64
 19  CustServ Calls  3333 non-null   int64
 20  Churn?          3333 non-null   object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB

display the 'Dtype' columns.

In [11]:
telecom.isnull().sum(axis=0)

State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
dtype: int64

No missing values.

In [14]:
telecom.describe(include='object').transpose()

           count unique       top  freq
State       3333     51        WV   106
Phone       3333   3333  378-9542     1
Int'l Plan  3333      2        no  3010
VMail Plan  3333      2        no  2411
Churn?      3333      2    False.  2850

display discriptive informations from columns's object , with the transpose() function you can invert columns's position into rows's position and vice versa .

In [15]:
telecom['Area Code'].value_counts()

415    1655
510     840
408     838
Name: Area Code, dtype: int64

this information will be usefull for the future.