<a href="https://colab.research.google.com/github/le-para/ML-TelecomCustomers/blob/main/ML_Telecom_project_%22Data_preparation%2B_KN_model%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import Pandas and Numpy librairies fron google colab

In [2]:
from google.colab import files
uploaded=files.upload()

Saving telecom.csv to telecom.csv

downloading file (telecom.csv) from my hard disc to google colaboratory

In [3]:
telecom=pd.read_csv('telecom.csv')

Read the csv file 'telecom.csv'.

In [55]:
telecom=telecom[['Area Code','Day Mins','Day Charge','Night Charge','Churn?']]

In [56]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     3333 non-null   int64
 1   Day Mins      3333 non-null   float64
 2   Day Charge    3333 non-null   float64
 3   Night Charge  3333 non-null   float64
 4   Churn?        3333 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 130.3 KB

display the 'Dtype' columns.

In [57]:
telecom.isnull().sum(axis=0)

Area Code       0
Day Mins        0
Day Charge      0
Night Charge    0
Churn?          0
dtype: int64

No missing values.

In [58]:
telecom.describe(include='object').transpose()

ValueError: ignored

display discriptive informations from columns's object , with the transpose() function you can invert columns's position into rows's position and vice versa .

In [59]:
telecom['Area Code'].value_counts()

2    1655
3     840
1     838
Name: Area Code, dtype: int64

this information will be usefull for the future.

In [ ]:
# telecom['Churn?'].replace(['False.','True.'],[0,1],inplace=True)
# telecom_c=telecom['Area Code'].replace([408,415,510],[1,2,3],inplace=True)

In [61]:
telecom

      Area Code  Day Mins  Day Charge  Night Charge  Churn?
0             2     265.1       45.07         11.01       0
1             2     161.6       27.47         11.45       0
2             2     243.4       41.38          7.32       0
3             1     299.4       50.90          8.86       0
4             2     166.7       28.34          8.41       0
...         ...       ...         ...           ...     ...
3328          2     156.2       26.55         12.56       0
3329          2     231.1       39.29          8.61       0
3330          3     180.8       30.74          8.64       0
3331          3     213.8       36.35          6.26       0
3332          2     234.4       39.85         10.86       0

[3333 rows x 5 columns]

In [66]:
telecom.columns=['Area','Mins','Day_charge','Night_charge','Churn?']

In [89]:
telecom

      Area   Mins  Day_charge  Night_charge  Churn?
0        2  265.1       45.07         11.01       0
1        2  161.6       27.47         11.45       0
2        2  243.4       41.38          7.32       0
3        1  299.4       50.90          8.86       0
4        2  166.7       28.34          8.41       0
...    ...    ...         ...           ...     ...
3328     2  156.2       26.55         12.56       0
3329     2  231.1       39.29          8.61       0
3330     3  180.8       30.74          8.64       0
3331     3  213.8       36.35          6.26       0
3332     2  234.4       39.85         10.86       0

[3333 rows x 5 columns]

In [98]:
telecom['Churn?'].value_counts()

0    2850
1     483
Name: Churn?, dtype: int64

In [68]:
from sklearn.neighbors import KNeighborsClassifier

In [90]:
model=KNeighborsClassifier()

In [91]:
y=telecom['Churn?']
X=telecom.drop('Churn?',axis=1)

In [101]:
X

      Area   Mins  Day_charge  Night_charge
0        2  265.1       45.07         11.01
1        2  161.6       27.47         11.45
2        2  243.4       41.38          7.32
3        1  299.4       50.90          8.86
4        2  166.7       28.34          8.41
...    ...    ...         ...           ...
3328     2  156.2       26.55         12.56
3329     2  231.1       39.29          8.61
3330     3  180.8       30.74          8.64
3331     3  213.8       36.35          6.26
3332     2  234.4       39.85         10.86

[3333 rows x 4 columns]

In [92]:
model.fit(X,y)
model.score(X,y)

0.8808880888088809

88% change that's my model give me a good prediction.

If you want to display a full array :

In [ ]:
# with np.printoptions(threshold=np.inf):
#   print(area)

In [99]:
def abonnement(model,Area=2,Mins=230,Day_charge=50,Night_charge=40):
  x=np.array([Area,Mins,Day_charge,Night_charge]).reshape(1,4)
  print(model.predict(x))
  print(model.predict_proba(x))

In [100]:
abonnement(model)

[0]
[[1. 0.]]

In [ ]:
#with data as initialize with abonnement method , the prediction model says...
# the subscription has not been renewed .